/* Hide Slate theme automatic page navigation */
.site-nav,
.site-header nav,
.page-header nav {
  display: none !important;
}

/* Hide embedded PDF on small screens */
@media (max-width: 768px) {
  iframe {
    display: none;
  }
}

.mobile-note {
  display: none;
  font-style: italic;
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .mobile-note {
    display: block;
  }
}