/* Hide Slate theme automatic page navigation */
.site-nav,
.site-header nav,
.page-header nav {
  display: none !important;
}

/* Desktop defaults */
.cv-iframe {
  display: block;
}

.mobile-note {
  display: none;
}

/* IF screen is mobile */
@media (max-width: 768px) {
  .cv-iframe {
    display: none;
  }

  .mobile-note {
    display: block;
    font-style: italic;
    margin-bottom: 1em;
  }
}


 /* Remove GitHub Pages footer text */
footer,
.site-footer,
.page-footer {
  display: none !important;
}